.bg_image{
    width:180px;height:50px;
}
    @media (max-width:767px){
        .my_nav+div{
            width:100%;!important;
            justify-content: space-around;
        }
}
@media (min-width:768px){
    .my_nav+div{
        width:30%;!important;
        justify-content: space-around;
    }
}
.carousel-control-prev,
.carousel-control-next{
    width:6%;height:10%;
    border-radius:50%;
    top:40%;
    background:rgba(0,0,0,0.3);
}
.carousel-indicators li{
    cursor:pointer;
}