.bg{
  display:flex;

  background-color: #333;
  justify-content: space-between;
}
.bg ul{
  display:flex;
  list-style: none;
  justify-content: space-around
}
.bg a{
  font-size:14px;
  color:#dddd;
  text-decoration: none;
}
a:hover{
  color:#848484;
  text-decoration: none;
}
i{
  color:#dddd;
}
.bg>div:last-child{
  width: 10%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.title ul{
  justify-content: space-around;
  margin: 0 auto;
}
.bg_img{
  position:relative;

}